<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1022675755921-o4nsil2kmt3bff3h2gt3m1autqoto8i7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1022675755921-o4nsil2kmt3bff3h2gt3m1autqoto8i7</string>
	<key>API_KEY</key>
	<string>AIzaSyBTsxwM9oaXdj1SqglLVRJ6PSdXEym9FUI</string>
	<key>GCM_SENDER_ID</key>
	<string>1022675755921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arvinq.LandmarkRemark</string>
	<key>PROJECT_ID</key>
	<string>landmark-remark-21259</string>
	<key>STORAGE_BUCKET</key>
	<string>landmark-remark-21259.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1022675755921:ios:5d637d5dc03ce60d873030</string>
</dict>
</plist>